<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WWiseAudioExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WWiseAudioExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	 <userSettings>
        <WWiseAudioExtractor.Properties.Settings>
              <setting name="OutputDirectory" serializeAs="String">
                    <value>No Output Directory Selected.</value>
              </setting>
              <setting name="ExportWem" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ExportWav" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ExportOgg" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="KnownFilenamesPath" serializeAs="String">
                    <value />
              </setting>
              <setting name="KnownEventsPath" serializeAs="String">
                    <value />
              </setting>
        </WWiseAudioExtractor.Properties.Settings>
    </userSettings>
  <applicationSettings>
    <WWiseAudioExtractor.Properties.Settings>
      <setting name="InputDirectory" serializeAs="String">
        <value />
      </setting>
    </WWiseAudioExtractor.Properties.Settings>
  </applicationSettings>
</configuration>